 *{
 	text-shadow: none;
 	font-family: 'Dosis', sans-serif;
 	font-size: 18px;
 	color: #ffffff;
 	text-align: center;
 }

h1{
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

#head_sub, #head{
	width: 100%;
	height: 5%;
	min-height:50px;
	border: none;
	background-color: #675e63;
	
}

div[data-role ="page"]{
 	/*background-color: red;*/
 	background: url(bg.jpg) no-repeat center center fixed; 
 	position: absolute;
 	background-size: cover;
}

#currentTemp{
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#currentLoc{
	font-size: 35px;
	font-weight: 300;
	border: none;
}

#currentAddr{
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#currentDesc{
	font-size: 18px;
	font-weight: 300;
}

#btn_map, #btn_back{
	width: 10px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	text-shadow:none;
	background-color: #675e63;
	color:#ffffff;
	border-color: transparent;
}

#footer{
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	border: none;
	background-color: transparent;

}

canvas{
	display: block;
	height: 250; 
	width: 250;
	margin: auto;
	color: #ffffff;

}

.map-canvas {
	padding: 0;
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 0;
	left: 0;
}
